/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.lein-git-deps/
results/*.xmi
results/*.pdf
results/*.statechart
desc/auto/
desc/ttc13-funnyqt-pn2sc.aux
desc/ttc13-funnyqt-pn2sc.bbl
desc/ttc13-funnyqt-pn2sc.blg
desc/ttc13-funnyqt-pn2sc.log
desc/ttc13-funnyqt-pn2sc.out
desc/ttc13-funnyqt-pn2sc.synctex.gz
postproc/auto/
postproc/ttc13-funnyqt-pn2sc.aux
postproc/ttc13-funnyqt-pn2sc.bbl
postproc/ttc13-funnyqt-pn2sc.blg
postproc/ttc13-funnyqt-pn2sc.log
postproc/ttc13-funnyqt-pn2sc.out
postproc/ttc13-funnyqt-pn2sc.synctex.gz
postproc/ttc13-funnyqt-pn2sc.pag
